body {
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

html { 
    scroll-behavior: smooth;
}

.nav-list {
    list-style: none;
  
}

.nav-link {
    padding: 0px 20px;
   font-size: 20px;
    color: #696969;
    background-color: #FAEBD7;
}

.nav-link {
    transition: .3s;
}

#profile {
    text-align: center;
}

.section-title {
    padding: 0px 20px;
    line-height: 30px;
    font-size: 32px;

    color: #696969;
    background-color: #FAEBD7;
}

.text { 
    padding: 0px 80px;
    line-height: 10px;
    font-size: 20px;
}
.contacts-list {
    padding: 0px 80px;
    line-height: 30px;
    list-style: none;
    font-size: 20px;
}

.skills-list,
.courses-list, 
.languages-list {
    padding: 0px 100px;
    line-height: 30px;
    font-size: 20px;
    list-style: square; 
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #BC8F8F;
}

.pre {
    font-size: 15px;
}

.logo {
    text-align: left;
    padding: 0px 50px;
    margin: 50px;
}

.github {
    font-size: 20px;
    padding: 0px 50px;
    margin: 50px;
}

.footer {
    color: #696969;
    background-color: #FAEBD7;
   
}
